{% extends "base.html" %}

{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-title">My Hat Gone</div>
        <div id="subtitle">Scott Corbat, Noah Harris, Adam Krueger, Charles Vidro, Pablo Delgado</div>
        <hr>
        <p class="page-desc">
            Our project is a highly configurable JSON editor catered towards Minecraft sound definition files.
            <br>
            The application is free for <a href="https://github.com/cjvidro/MHG/releases">download</a>!
        </p>
        <a href="view_changelogs" class="grad-button" id="download-button">View changelog files</a>
        <a href="view_sounddefs" class="grad-button" id="download-button">View sound definition files</a>
    </div>
{% endblock %}