body, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

#login-button {
    background-image: linear-gradient(60deg, #55efc4, #74b9ff, #55efc4);
    transition: 0.5s;
}